html, body, h1,
h2, h3, h4,
p {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background: #FFFFFF;
  display: flex;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 7vh;
}

h4 {
  font-size: 5vh;
  margin-top: 3%;
}

.p1-sidebar, .p2-sidebar {
  background-color: #b1cbbb;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 25%;
}

.gameplay {
  display: flex;
  background-color: #C94C4C;
  flex-direction: column;
  height: 100vh;
  width: 50%;
}

.p1-header, .gameboard-header, .p2-header {
  color: #C94C4C;
  font-family: 'Lobster', cursive;
  text-align: center;
  text-shadow: -1px 0 black, 0 2px black, 2px 0 black, 0 -1px black;
  margin: 10%;
}

.gameboard-header {
  color: #FFFACD;
  margin: 8%;
}

.p1-mini-game-win-display, .p2-mini-game-win-display {
  border: 3px solid #C94C4C;
  background-color: #FFFACD;
  display: flex;
  flex-wrap: wrap;
  margin: 7% auto;
  overflow: scroll;
  height: 60%;
  width: 80%;
}

.gameplay {
  display: flex;
}

.gameboard {
  border: none;
  display: grid;
  grid-gap: 0px;
  grid-template-columns: 33% 33% 33%;
  margin: 6% auto;
  height: 60%;
  width: 80%;
}

.top-left-btn, .top-mid-btn, .top-right-btn,
.mid-left-btn, .mid-mid-btn, .mid-right-btn,
.bot-left-btn, .bot-mid-btn, .bot-right-btn {
  background-color: #FFFACD;
  border: 3px solid #b1cbbb;
  color: #b1cbbb;
  font: 40px 'Lobster', cursive;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.top-left-btn, .top-mid-btn, .top-right-btn {
  border-top: none;
}

.bot-left-btn, .bot-mid-btn, .bot-right-btn {
  border-bottom: none;
}

.top-left-btn, .mid-left-btn, .bot-left-btn {
  border-left: none;
}

.top-right-btn, .mid-right-btn, .bot-right-btn {
  border-right: none;
}
